.formulario {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.formulario form{
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(42, 120, 165, 0.425);
    border-radius: 10px;
}

.formulario p{
    padding: 10px;
}


.link-productos{

    margin: 20px;
    padding: 10px;
    
}


.link-productos ul{
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 20px;
    padding: 10px;
    background-color: rgba(42, 120, 165, 0.425);
    border-radius: 20px;
    

}

.link-productos li{
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 10px;

}

.mainCard{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 400px;
    border: 3px solid rgb(42, 120, 165, 0.425);
    border-radius: 20px;

}

.mainCard img{
    margin: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 20px;

}