.formulario {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.formulario form{
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.formulario p{
    padding: 10px;
}

.link-productos{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.link-productos ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.link-productos li{
    margin: 10px;
    padding: 10px;
    text-align: start;
    list-style: none;
}

.container-joyas{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.mainCard{
    background-color: blue;
    padding: 10px;
}

.mainCard img{
background-color: aquamarine;
margin: 10px;
padding: 10px;

}